.container{
    width: 350px;  
    margin: auto;
    text-align: center;
    margin-top: 200px;
}

.btn{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 25px;
    padding-left: 4px;
    padding-right: 4px;
    height: 30px;
    width: 130px;
}
#contagem{
    font-size: 46px;
}
#titulo{
    font-size: 35px;
    margin-bottom: 15px;
}

#reset{
    background-color: #FF6347;
    margin-top: 10px;
    font-size: 15px;
}
#adcUm{
    background-color: #FFC0CB;
    font-size: 14px;
}
#adcDez{
    margin-left: 10px;
    background-color: #B0E0E6;
    font-size: 14px;
}

