
@import "/home/proj-rigel/Documentos/cursoAngular/projetoLogin/login/src/scss/base/_variables.scss";
:host{
    strong{
        font-size: 25px;
        font-weight: 700;
        color: $vermelho;
    }
}