<form [formGroup]="cadastroForm" (ngSubmit)="submitForm()">

    <label>
        Nome:
        <input type="text" formControlName="firstName">

        <span *ngIf="cadastroForm.get('firstName')?.errors && cadastroForm.get('firstName')?.dirty">
            Adicione o nome.
        </span>
    </label>

    <br>

    <label>
        Sobrenome:
        <input type="text" formControlName="lastName">
    </label>

    <br>

    <label>
        Email:
        <input type="email" formControlName="email">
    </label>

    <p>
        <!--{{ cadastroForm.get('firstName')?.errors | json}}
        {{ cadastroForm.get('firstName')?.touched | json}}
        {{ cadastroForm.get('firstName')?.dirty | json}}
        {{ cadastroForm.get('lastName')?.errors | json}}-->

        {{ cadastroForm.get('email')?.errors | json}}

    </p>

    <button [disabled]="cadastroForm.invalid">Enviar</button>
</form>